@charset "UTF-8";
@import "resources/css/font.css";
/* resect code */
*{color:inherit;font-family:inherit;font-size:inherit;font-weight:inherit;line-height:1.4;word-break:break-all;padding:0;margin:0;box-sizing:border-box;}
html, body{height:100%;font-family:"Pretendard", sans-serif;font-size:22px;font-weight:600;}
body{height:auto;overflow-y:auto;position:relative;}
body.on{overflow-y:hidden;}
ul{list-style:none;}
a{text-decoration:none;}
span{display:inline-block;}
img{max-width:100%;object-fit:fill;}
button {background: transparent;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;}

/* [공통] popup */
.only-mobile {display: none!important;}
.blind-txt {overflow: hidden;position: absolute;border: 0;width: 1px;height: 1px;clip: rect(1px, 1px, 1px, 1px);}
.text-align-r1{text-align:center;}
.lg-txt{font-size:24px;font-weight:700;color:#4d4d4d;}
.rgl-txt{font-size:18px;font-weight:400;color:#4d4d4d;}
.emp-txt{font-size:16px;font-weight:700;color:#4d4d4d;}
.sm-txt {font-size:14px;font-weight:400;color:#4d4d4d;}
.mt-lg {margin-top:60px;}
.mt-rgl {margin-top:20px;}
.mt-md {margin-top:40px;}
.mt-sm {margin-top:4px;}
.mt-sm2{margin-top:12px;}

/* popup - 기본 모달 디자인 */
.dy-modal *{box-sizing:border-box;font-family:'Pretendard','sans-serif'}
.dy-modal {display: none;position: fixed;z-index: 100;left: 0;top: 0;width: 100%;height: 100%;align-items:center;justify-content:center;overflow: auto;background-color: #000;background-color: rgba(0, 0, 0, .4)}
.dy-modal-content {max-height:850px;position:relative;background-color:#fff;margin: auto;overflow:hidden;padding-top:128px;padding-bottom:124px;border: 1px solid #888;border-radius:20px;width: 100%;max-width:1240px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);-webkit-animation-name: animatetop;-webkit-animation-duration: .4s;animation-name: animatetop;animation-duration: .4s}
.dy-header{height:128px;position:absolute;left:0;top:0;width:100%;display:flex;align-items:center;justify-content:space-between;gap:20px;padding:60px 60px 20px 60px;}
.dy-header > h5 {text-align:center;font-size:36px;font-weight:700;color:#000;width:calc(100% - 40px);padding-left:40px;}
.dy-header > .dy-close-btn{width:40px;height:40px;background: url("dy_ico_close.png") center center no-repeat;border:0;}
.dy-body{padding: 20px 60px 9px;height:598px;overflow-y:auto;}/*60vh */
.dy-body > div {width:100%;}
/* popup - table */
.dy-custom-table {width:100%;margin-top:12px;margin-bottom:8px;}
.dy-custom-table > table{width:100%;border-collapse: collapse;}
.dy-custom-table tr:first-child {border-top:1px solid #333;}
.dy-custom-table tr {border-bottom:1px solid #ccc;}
.dy-custom-table th {background-color:#f7f7f7;min-width:200px;max-width:200px;width:200px;font-size:16px;font-weight:700;}
.dy-custom-table th > .dy-th-wrap {display:flex;justify-content: center;align-items: center;}
.dy-custom-table td {background-color: #fff;width:100%;}
.dy-custom-table td > .dy-td-wrap {width:100%;display:flex;padding:12px 16px;}
.dy-custom-table td > .dy-td-wrap.col-ver{flex-direction:column;gap:8px;align-items:flex-start;}
.dy-custom-table th + td{border-left:1px solid #ccc;}
[data-step]{display: none;}
/* popup - 공통버튼 */
/*.dy-button-wrap {padding:10px 60px 60px;width:100%;display:flex;justify-content:center;position:absolute;left:0;bottom:0;}*/
.dy-button-wrap {height:124px;position:absolute;left:0;bottom:0;padding:10px 60px 60px;width:100%;display:flex;justify-content:center;gap:4px;}
.cm_btn {height:54px;display:flex;align-items:center;justify-content:center;padding-left:30px;padding-right:30px;font-size:18px;font-weight:700;color:#fff;border:0;border-radius:8px;background-color: #FFBF00;}
.cm_btn.size-sm{width:auto;}
.cm_sim_btn{width:68px;height:42px;display:flex;align-items:center;justify-content:center;border-radius:6px;border:1px solid #d9d9d9;font-size:16px;font-weight:500;color:#4d4d4d;background-color:#fff;}
.cm_sim_btn:focus {border-color:#FFBF00;color:#FFBF00;font-weight:700;}
.cm_sim_btn.size-auto{width: auto;height:54px;padding-left:30px;padding-right:30px;font-size:18px;font-weight:700;}

/* popup - list , text */
.dy-dot-list > li {position:relative;font-size:16px;font-weight:400;color:#4d4d4d;padding-left:13px;}
.dy-dot-list.mt-ver > li + li {margin-top:4px;}
.dy-dot-list > li::before{content:'';width:3px;height:3px;border-radius:50%;background-color:#4d4d4d;position:absolute;left:0;top:6px;}
.dy-dot-list > li.dy-imp{color:#8d8d8d;}
.dy-dot-list > li.dy-imp::before{content:'*';color:#8d8d8d;width:0;height:0;background-color:transparent;top:0;left:-2px;}
.dy-star-list > li {position:relative;font-size:14px;font-weight:400;color:#8d8d8d;padding-left:16px;}
.dy-star-list > li::before {content:'※';position:absolute;left:0;top:0;}
.dy-star-list > li + li {margin-top:4px;}
.dy-body * {line-height:1.165;}

/* popup - processList */
.dy-num-list{display:flex;justify-content: space-between;align-items:center;}
.dy-num-list > li {width:182px;display:flex!important;flex-direction:column;align-items:center;gap:8px;position:relative;}
.dy-num-list > li + li::after {content:'';width:calc(100% + 14px);height:2px;background-color:#D0D0D0;position:absolute;left:-66%;top:23px;z-index:0;}
.dy-num-list > li.dy-process-finish + li.dy-process-finish span.dy-num,
.dy-num-list > li.dy-process-finish + li.dy-process-finish::after,
.dy-num-list > li.dy-process-finish + li.dy-process-ing::after {background-color:#FFBF00;}
.dy-num-list > li > span {z-index: 10;}
.dy-num-list > li > span.dy-num {display:inline-flex;justify-content:center;align-items:center;width:48px;height:48px;font-size:24px;font-weight:700;border-radius:50%;background-color:#D0D0D0;}
.dy-num-list > li > span.dy-txt{font-size:16px;font-weight:700;color:#8d8d8d;text-align:center;display:flex;}
.dy-num-list > li.dy-process-finish > span.dy-num {background:#FFBF00 url("dy_ico_check.svg") center center no-repeat;background-size:24px;}
.dy-num-list > li.dy-process-finish > span.dy-txt {color:#8d8d8d;}
.dy-num-list > li.dy-process-ing > span.dy-num {border:4px solid #FFBF00;background:#fff;color:#FFBF00;}
.dy-num-list > li.dy-process-ing > span.dy-txt {color:#4d4d4d;}
/* popup - input */
.dy-input-wrap {width:100%;display:flex;align-items:center;gap:8px;flex-wrap:wrap;}
.dy-input-box{width:100%;overflow:hidden;}
.dy-input-box.size-lg{width:320px;}
.dy-input-box.size-rgl{width:260px;}
.dy-input-box.size-sm{width:160px;}
.dy-input-box.size-xsm{width:100px;}
.dy-input-box > input{width:100%;border:1px solid #ddd;border-radius:6px;height:42px;padding:12px 26px 11px 10px;color:#4d4d4d;font-size:16px;}
.dy-input-box > input.calendar-ver {background:url("dy_ico_calendar.svg") right 10px center no-repeat;background-size:16px;}
.dy-input-box > input.calendar-ver[type="date"]::-webkit-calendar-picker-indicator {background: transparent;color: transparent;}
.dy-input-box > input:focus{outline:none;border-color:#FFBF00;}
.dy-input-box > input::placeholder{color:#8d8d8d;}
/* popup - select */
.dy-input-box > select {width:100%;border:1px solid #ddd;border-radius:6px;height:42px;padding:12px 10px 11px 10px;color:#4d4d4d;font-size:16px;appearance:none;background:url('dy_ico_dropdown.svg') no-repeat right 10px center;}
.dy-input-box > select:focus{outline:none;border-color:#FFBF00;background:url('dy_ico_dropdown_up.svg') no-repeat right 10px center;}
/* [개별]popup - 확인창 */
.dy-confirm-wrap {display:flex;flex-direction:column;align-items:center;}
.dy-confirm-wrap .dy-image-box {width:560px;margin-top:20px;}
.dy-confirm-wrap .dy-image-box.ani-ver {width:796px;}
.dy-confirm-wrap .dy-image-box > img {width:100%;}
/* popup - Animation */
@-webkit-keyframes animatetop {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media(max-width:1440px) {
    /* popup - 기본 모달 디자인 */
    .only-mobile {display: block!important;}
    .dy-modal-content {padding-top:72px;padding-bottom:70px;max-height:initial;max-width:100%;border-radius:12px;}
    .dy-header{padding:20px 20px 10px 20px;height:72px;}
    .dy-header > h5 {text-align:left;font-size:18px;width:calc(100% - 20px);padding-left:0;}
    .dy-header > .dy-close-btn{width:20px;height:20px;background-size:20px;}
    .dy-body{padding: 10px 20px 10px;height:calc(100vh - 144px);/*height:70vh;*/}
    .dy-custom-table {margin-top:9px;margin-bottom:4px;}
    .dy-custom-table th {min-width:80px;max-width:80px;width:80px;font-size:12px;}
    .dy-custom-table td > .dy-td-wrap {padding:8px;}
    .dy-custom-table td > .dy-td-wrap.col-ver{gap:4px;}

    /* [공통] - popup */
    .lg-txt {font-size:14px;}
    .rgl-txt{font-size:13px;}
    .emp-txt{font-size:12px;}
    .sm-txt {font-size:12px;}
    .mt-lg {margin-top:28px;}
    .mt-rgl {margin-top:12px;}
    .mt-md {margin-top:20px;}
    .mt-sm2{margin-top:8px;}
    .text-align-r1{text-align:left;}

    /* popup - 공통버튼 */
    .dy-button-wrap {height:70px;padding:10px 20px 20px;}
    .dy-button-wrap.twin-ver > button{width:calc(50% - 8px)}
    .cm_btn {width:100%;height:40px;font-size:14px;}
    .cm_btn.size-sm{width:100%;padding-left:10px;padding-right:10px;}
    .cm_sim_btn{width:45px;height:36px;border-radius:8px;font-size:12px}
    .cm_sim_btn.size-auto {width:100%;height:40px;padding-left:10px;padding-right:10px;font-size:14px;}

    /* popup - list , text */
    .dy-dot-list > li {font-size:12px;padding-left:7px;}
    .dy-dot-list.mt-ver > li + li {margin-top:2px;}
    .dy-dot-list > li::before{content:'';width:3px;height:3px;top:5px;}
    .dy-star-list > li {font-size:11px;padding-left:7px;}
    .dy-num-list{align-items:flex-start;}
    .dy-num-list > li {width:20%;gap:4px;}
    .dy-num-list > li + li::after {top:15px;left:-50%;}
    .dy-num-list > li > span.dy-num {width:32px;height:32px;font-size:16px;}
    .dy-num-list > li > span.dy-txt{font-size:11px;}
    .dy-num-list > li.dy-process-finish > span.dy-num {background:#FFBF00 url("dy_ico_check.svg") center center no-repeat;background-size:14px;}
    .dy-num-list > li.dy-process-ing > span.dy-num {border-width:2px;}

    /* popup - input */
    .dy-input-wrap {gap:4px;}
    .dy-input-box.size-lg{width:100%;}
    .dy-input-box.size-lg.w-sp1 {width:calc(100% - 50px);}
    .dy-input-box.size-rgl{width:100%;}
    .dy-input-box.size-sm{width:45px;}
    .dy-input-box.size-sm.w-50{width:calc(50% - 9px);}
    .dy-input-box.size-sm.w-sp2{width:64px;}
    .dy-input-box.size-xsm{width:64px;}
    .dy-input-box > input{height:36px;padding:11px 8px;font-size:12px;}

    /* popup - select */
    .dy-input-box > select {height:36px;padding:10px;font-size:12px;background:url('dy_ico_dropdown.svg') no-repeat right 10px center;background-size:16px;}

    /* [개별]popup - 확인창 */
    .dy-confirm-wrap {align-items:flex-start;}
    .dy-confirm-wrap .dy-image-box {width:100%;}
    .dy-confirm-wrap .dy-image-box.ani-ver {width:100%;}
}
@media(max-width: 420px) {
    .dy-input-box.size-sm.w-sp2{width:calc(33.33% - 10px);min-width:57px;}
    .dy-input-box.size-xsm{width:calc(33.33% - 10px);min-width:57px;}
}