@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}
i[class^="ir"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="ir"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: '\00a0';}


/* common */
body {font-family:  'SpoqaHanSansNeo' ; font-size: 14px; color: #333333; background: #ffffff; position: relative;}
#wrapper {min-width: 320px; max-width: 1024px; overflow: hidden; margin: 0 auto; overflow-x: hidden;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.7); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 10000000;}
#skip-nav:focus {top: 0;}

/* body */
a.btn.blue {box-sizing: border-box;  border: 1px solid rgba(30, 75, 115, 1); font-size: 13px; color: rgba(30, 75, 115, 1); background-color: #fff; display: inline-block; padding: 10px 15px; text-align: center; transition: all 0.3s; font-weight: 700; width: 130px; border-radius: 8px;}
a.btn + a.btn {margin-left: 15px;}


/* section: common */
section {width: 100%; height: 100vh; padding: 65px 0 100px; box-sizing: border-box;  }
section > div.content-box {width: 100%; height: 100%; padding: 0 20px; box-sizing: border-box;   margin: 0 auto;}
section > div.content-box::after {content: '';  display: block; clear: both;}
#main {position: relative;}

ul.button > li {display: inline-block;}
button {padding: 5px 44px; border-radius: 0;  border: 1px solid #DEDEDE; font-size: 13px; color: #C9A397; font-family: 'SpoqaHanSansNeo'; font-weight: 700; box-sizing: border-box; transition: all 0.5s; background-color: #fff;}
button:hover {color: #fff;background: transparent linear-gradient(180deg, #EBE3DE 0%, #EBE3DE 33%, #EBE3DE 75%, #EBE3DE 90%, #EBE3DE 100%) 0% 0% no-repeat padding-box;}

#header {width: 100%; height: 60px; position: fixed; left: 0; top: 0; z-index: 100000; box-sizing: border-box;  background-color: pink; padding: 0 20px;
  background: transparent linear-gradient(180deg, rgba(30, 75, 115, 1)  0%, transparent 100%) 0% 0% no-repeat padding-box; transition: all 0.5s; 
}
#header.open {background: transparent; transition: all 0.5s;}
#header > div.content-box {width: 100%; height: 100%; box-sizing: border-box; position: relative;}
#header > div.content-box::after {content:''; display: block; clear: both;}



/* header: mobile/#nav */
#nav {position: fixed; right: -100%; width: 100%; top: 0; height:100%; background-color: rgb(9, 33, 54); z-index: 1000; overflow: auto; font-size: 15px; box-sizing: border-box; padding: 20px 20px 40px 20px; transition: right 0.3s;}
#nav.open {right: 0;}
#nav > ul > li {position: relative;}
#nav > ul > li:first-child {margin-top: 60px;}
#nav > ul > li > a {position: relative; display: block; line-height: 50px; font-size: 17px; padding-left: 20px; color: #fff; transition: color 0.5s; font-weight: 600; letter-spacing: 1px; }
#nav > ul > li:hover > a {color: #0ff;}
#nav > ul > li.on > a {color: #008fe2;}
#gnb > ul > li > a i {position: absolute; right: 0px; top: 50%; transform: translate(0, -50%); color: #999999; font-size: 14px;}

/* header: mobile/hamburger button */
#mobile-menu {position: absolute; right: 0px; top: 50%; transform: translate(0, -50%); font-size: 20px; color: #453d3d; z-index: 10000;}
#mobile-menu > li {float: left; line-height: 24px;}
#mobile-menu > li + li {margin-left: 10px;}
#mobile-menu > li > a {display: block; width: 28px; height: 24px; text-align: center; position: relative; }
#mobile-menu > li > a i {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#mobile-menu > li a.menu {display: block; width: 28px; height: 24px; position: relative;}
#mobile-menu > li a.menu::before {content: ''; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); width: 100%; height: 2px; background-color: #fff; transition: all 0.3s;}
#mobile-menu > li a.menu span {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: 2px; background-color: #fff;  text-indent: -9999px; transition: all 0.3s;}
#mobile-menu > li a.menu::after {content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); width: 100%; height: 2px; background-color: #fff;  transition: all 0.3s;}
#mobile-menu > li a.menu.close::before {transform: translate(-50%, -50%) rotate(32deg); top: 50%; width: 120%;}
#mobile-menu > li a.menu.close span {opacity: 0;}
#mobile-menu > li a.menu.close::after {transform: translate(-50%, 50%) rotate(-32deg); bottom: 50%; width: 120%;}

/* top */
#main button.top {width: 60px; height: 60px; background:rgba(0, 0, 0, 0.3); position: fixed; right: 20px; bottom: 20px; z-index: 10000; text-align: center; padding:0; color: #fff;}


/* main-visual */
#main-visual {position: relative; background: url(../img/sky.jpg) center center no-repeat; background-size: cover;}
#main-visual > div.content-box {position: relative;}
#main-visual > div.content-box h3 {font-size: 70px;  margin-bottom: 50px; color: #fff; margin-top: 0px; font-family: 'Merriweather'; position: relative; opacity: 0;}
#main-visual > div.content-box > div.text-box {margin-top: 50px;}
#main-visual > div.content-box > div.text-box > p {font-size: 15px; font-weight: 400; color: #fff; position: relative;}
#main-visual > div.content-box > div.text-box > p.name {font-size: 25px; font-weight: 900; position: relative; opacity: 0;}
#main-visual > div.content-box > div.text-box > p.content {padding: 20px 0; font-weight: 700;position: relative; opacity: 0; }
#main-visual > div.content-box > div.text-box > p.content2 {font-weight: 500; margin-bottom: 20px; position: relative; opacity: 0;}
#main-visual > div.content-box > div.text-box > span {display: inline-block; font-weight: 700; color: #fff; position: relative; opacity: 0;}
#main-visual > div.content-box > div.text-box > span::after {content:''; width: 100px; height: 1px; background-color: #fff; position: absolute; left: 100%; top: 50%; transform: translateY(-50%); margin-left: 20px;}

#main-visual > div.content-box h3,
#main-visual > div.content-box > div.text-box > p.name,
#main-visual > div.content-box > div.text-box > p.content,
#main-visual > div.content-box > div.text-box > p.content2,
#main-visual > div.content-box > div.text-box > span { animation: mainTextHide 1s ease 0s 1 normal forwards;}

#main-visual.on > div.content-box h3 {animation: mainText 1s ease 1.3s 1 normal forwards;}
#main-visual.on > div.content-box > div.text-box > p.name { animation: mainText 1s ease 0s 1 normal forwards;}
#main-visual.on > div.content-box > div.text-box > p.content { animation: mainText 1s ease 0.3s 1 normal forwards;}
#main-visual.on > div.content-box > div.text-box > p.content2,
#main-visual.on > div.content-box > div.text-box > span { animation: mainText 1s ease 0.9s 1 normal forwards;}

/* animation: main-visual */
@keyframes mainText {
  0% {opacity: 0; bottom: -100px;}
  100% {opacity: 1; bottom: 0px;}
}

@keyframes mainTextHide {
  0% {opacity: 1; bottom: 0px;}
  100% {opacity: 0; bottom: -100px;}
}


/* section2: introduce:css 파트 */
#introduce {height: auto; background-color: #fff; padding: 80px 0 160px;}
#introduce div.content-box > div.box > p.title {font-weight: 700; font-size: 35px; color: rgba(30, 75, 115, 1);}
#introduce div.content-box > div.box > p.title > em {font-weight: 900; color: #ea273e;}
#introduce div.content-box > div.box > p.text {font-weight: 600; font-size: 15px; margin-top: 5px; font-weight: 700;}

/* section2: introduce, text-common */
#introduce > div.content-box div.abil-box > ul > li > div.text-box 
{text-align: center;}
#introduce > div.content-box div.abil-box > ul > li > div.text-box > p.title {font-size: 25px; color: rgba(30, 75, 115, 1); margin-bottom: 10px; font-weight: 900;}
#introduce > div.content-box div.abil-box > ul > li > div.text-box > p.text {color: #666; font-size: 15px; line-height: 1.4; letter-spacing: -0.03em; font-weight: 600;}


#introduce > div.content-box div.abil-box {}
#introduce > div.content-box div.abil-box > ul {}
#introduce > div.content-box div.abil-box > ul > li {}
#introduce > div.content-box div.abil-box > ul > li > div.image-box {position: relative; display: flex; justify-content: center; align-items: center; width: 100%; min-height: 250px; margin: 100px 0 20px;}


#introduce > div.content-box > div.box > p.title,
#introduce > div.content-box > div.box > p.text,
#introduce > div.content-box div.abil-box > ul > li > div.image-box,
#introduce > div.content-box div.abil-box > ul > li > div.text-box {animation: mainTextHide 1s ease 0s 1 normal forwards; position: relative; opacity: 0;}

#introduce.on  div.content-box > div.box > p.title {animation: mainText 1s ease 0s 1 normal forwards;}
#introduce.on  div.content-box > div.box > p.text {animation: mainText 1s ease 0.4s 1 normal forwards;}
#introduce.on > div.content-box div.abil-box > ul > li > div.image-box {animation: mainText 1s ease 0.8s 1 normal forwards;}
#introduce.on > div.content-box div.abil-box > ul > li > div.text-box {animation: mainText 1s ease 1.1s 1 normal forwards;}


/* section2: introduce, html */
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.ring {position: relative; width: 100px; height: 100px; border: 4px solid transparent; border-radius: 50%; margin: -25px; border-top: 4px solid #24ecff; animation: animate 4s linear infinite; top: 50%; transform: translateY(-50%);}
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.ring::before {content: ''; position: absolute; width: 10px; height: 10px; background: #24ecff; top: 10px; right: 6px; border-radius: 50%; box-shadow: 0 0 0 5px #24ecff33,  0 0 0 10px #24ecff22,  0 0 0 20px #24ecff11,  0 0 20px #24ecff, 0 0 50px #24ecff;}

#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.ring:nth-child(2) {animation: animate2 4s linear infinite;  animation-delay: -1s; border-left: 4px solid #93ff2d; border-top: 4px  solid transparent;}
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.ring:nth-child(2):before {content: ''; position: absolute; width: 10px; height: 10px; background: #93ff2d; top: 10px; left: 6px; border-radius: 50%; box-shadow: 0 0 0 5px #93ff2d33,  0 0 0 10px #93ff2d22,  0 0 0 20px #93ff2d11,  0 0 20px #93ff2d, 0 0 50px #93ff2d;}


#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.ring:nth-child(3) {position: absolute; top: 50px; animation: animate2 4s linear infinite;  animation-delay: -3s; border-top: 4px solid transparent; border-left: 4px solid #e11cf8;}
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.ring:nth-child(3)::before {content:''; position: absolute; top:initial; bottom: 10px; left: 6px; border-radius: 50%; width: 10px; height: 10px; box-shadow: 0 0 0 5px #e11cf833,  0 0 0 10px #e11cf822,  0 0 0 20px #e11cf811,  0 0 20px #e11cf8, 0 0 50px #e11cf8; background: #e11cf8;}

/* animation: html */
@keyframes animate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes animate2 {
  0% {transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}

/* section2: introduce, css */
#introduce > div.content-box div.abil-box > ul > li > div.image-box:nth-child(2) {-webkit-box-reflect: below 1px linear-gradient(#0001, #0004);}

#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.loader {position: relative; width: 200px; height: 200px; border-radius: 50%; background: #0d2323; animation: animate 2s linear infinite;}
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.loader::before {content:''; position: absolute; top: 0; left: 0; width: 50%; height: 100%; background: linear-gradient(to top, transparent, rgba(0,255,249,0.4)); background-size: 100px 180px; background-repeat: no-repeat; border-top-left-radius: 100px; border-bottom-left-radius: 100px;}
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.loader::after {content:''; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 12px; height: 12px; background: #00fff9; border-radius: 50%; z-index: 10; box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9,0 0 30px #00fff9,0 0 40px #00fff9,0 0 50px #00fff9,0 0 60px #00fff9,0 0 70px #00fff9,0 0 80px #00fff9,0 0 90px #00fff9, 0 0 100px #00fff9;}
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.loader span {position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; background: #fff; border-radius: 50%;}

/* section2: introduce, javascript and jQuery */
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.circle {position: relative; min-width: 150px; height: 150px; border-radius: 50%; background-color: #fff;}
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.circle::before {content:''; position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px; background: #fff; z-index: -1; filter: blur(50px);}

#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.circle1,
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.circle.circle1::before {background: linear-gradient(90deg, #93ff2d, #0ff);}

#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.circle2,
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.circle.circle2::before {background: linear-gradient(90deg, #ffeb3b, #da00ff);}

#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.circle1 {animation: animate3 5s linear infinite;}
#introduce > div.content-box div.abil-box > ul > li > div.image-box > div.circle2 {animation: animate4 5s linear infinite;}

/* animation: javascript and jQuery */
@keyframes animate3 {
  0% {transform: translateX(0) rotate(0deg);}
  30% {transform: translateX(180px) rotate(240deg);}
  60% {transform: translateX(180px) rotate(480deg);}
  100% {transform: translateX(0) rotate(720deg);}
}

@keyframes animate4 {
  0% {transform: translateX(0) rotate(0deg);}
  30% {transform: translateX(-180px) rotate(-240deg);}
  60% {transform: translateX(-180px) rotate(-480deg);}
  100% {transform: translateX(0) rotate(-720deg);}
}


/* section3: edu:css 파트 */
#edu {height: auto; background: transparent linear-gradient(180deg, #f22447 0%, #f22447 65%, #fff 100%) 0% 0% no-repeat padding-box;  }
#edu > div.content-box > div.text-left {font-size: 30px; font-weight: 900; color: #fff; top: 100px; margin-bottom: 70px;}
#edu > div.content-box > div.text-left > div {overflow: hidden;}
#edu > div.content-box > div.text-left > div > span {display: block; line-height: 1.5;}

@keyframes textUp {
  0% {opacity: 0; transform: translateY(-130px) rotate(80deg);}
  100% {opacity: 1; transform: translateY(0px) rotate(0deg);}
}


#edu > div.content-box > div.big-box {position: relative; transition: all 0.5s;}
#edu > div.content-box > div.big-box > ul {margin-bottom: 300px; width: 100%;}
#edu > div.content-box > div.big-box > ul > li {width: 100%; text-align: center;}
#edu > div.content-box > div.big-box > ul > li + li {margin-top: 80px;}
#edu > div.content-box > div.big-box > ul > li > div.box {display: inline-block; text-align: center; width: 100%;}
#edu > div.content-box > div.big-box > ul > li > div.box > .image {width: 100%; height: 315px; background: url(../img/main1-baby.jpg) center center no-repeat; border-radius: 30px; box-shadow: 0px 5px 15px 5px rgb(0 0 0 / 20%); position: relative; background-size: cover; margin: 0 auto;}
#edu > div.content-box > div.big-box > ul > li:nth-child(2) > div.box > .image {background: url(../img/main1-bear.jpg) center center no-repeat;  background-size: cover;}
#edu > div.content-box > div.big-box > ul > li:nth-child(3) > div.box > .image {background: url(../img/main1-trip.jpg) center center no-repeat;  background-size: cover;}
#edu > div.content-box > div.big-box > ul > li:nth-child(4) > div.box > .image {background: url(../img/main1-char.jpg) center center no-repeat;  background-size: cover;}


#edu > div.content-box > div.big-box > ul > li > div.box > div.text {z-index: 0;
position: relative; margin-top: 30px;
width: 100%; font-size: 20px; font-weight: 700; color: #fff; line-height: 1.6;
text-align: left; box-sizing: border-box;}
#edu > div.content-box > div.big-box > ul > li > div.box > div.text::before {content:''; width: 71px; height: 56px; display: block; background: url(../img/quote.png) no-repeat left top; position: absolute; top: 0; left: 0;  }
#edu > div.content-box > div.big-box > ul > li > div.box > div.text > p.title {font-weight: 700; border-bottom: 1px solid #fff; line-height: 2; position: relative; font-size: 18px; }
#edu > div.content-box > div.big-box > ul > li > div.box > div.text > ul {font-size: 16px; font-weight: 600;}
#edu > div.content-box > div.big-box > ul > li > div.box > div.text > ul > li {padding-left: 25px; position: relative; line-height: 2;}
#edu > div.content-box > div.big-box > ul > li > div.box > div.text > ul > li:first-child {margin-top: 15px;}
#edu > div.content-box > div.big-box > ul > li > div.box > div.text > ul > li::before {font-family: 'xeicon'; content:'\e92a'; width: 25px; height: 25px;  position: absolute; left: 0px; top: 0;}
#edu > div.content-box > div.big-box > ul > li > div.box > div.text > p.title > span {position: absolute; right: 0; top: 50%; transform: translateY(-50%); padding: 5px 10px; box-sizing: border-box; font-size: 10px; color: #fff; background-color: rgba(30, 75, 115, 1); border-radius: 5px; }



/* animation 작동 */
#edu > div.content-box > .text-left > div > span,
#edu > div.content-box > div.big-box > ul > li { position: relative; opacity: 0;animation: mainTextHide 1s ease 0s 1 normal forwards;}

#edu.on > div.content-box > .text-left  > div > span:nth-child(1) {animation: textUp 1s ease 0s 1 normal forwards;}
#edu.on > div.content-box > .text-left  > div > span:nth-child(2) {animation: textUp 1s ease 0.5s 1 normal forwards;}
#edu.on > div.content-box > .text-left  > div > span:nth-child(3) {animation: textUp 1s ease 1s 1 normal forwards;}

#edu.on > div.content-box > div.big-box > ul > li:nth-child(1) {animation: mainText 1s ease 0s 1 normal forwards;}
#edu.on > div.content-box > div.big-box > ul > li:nth-child(2) {animation: mainText 1s ease 0.5s 1 normal forwards;}
#edu.on > div.content-box > div.big-box > ul > li:nth-child(3) {animation: mainText 1s ease 0.8s 1 normal forwards;}
#edu.on > div.content-box > div.big-box > ul > li:nth-child(4) {animation: mainText 1s ease 1.2s 1 normal forwards;}

/* section3: work */
#work {height: auto;}
#work > div.content-box > .text-title {text-align: left;}
#work > div.content-box > .text-title > div {font-size: 30px; margin-bottom: 6px; font-weight: 900; color: rgba(30, 75, 115, 1);}
#work > div.content-box > .text-title > div > em  {color:  #ea273e;}
#work > div.content-box > div.banner-slide {position: relative;  margin: 60px auto; width: 100%;  box-sizing: border-box;}
#work > div.content-box > div.banner-slide  > div.box {position: relative; box-sizing: border-box; overflow: hidden;}
#work > div.content-box > div.banner-slide  > div.box > ul {width: 10000px; position: relative; }
#work > div.content-box > div.banner-slide  > div.box > ul::after {content:''; display: block; clear: both;}
 #work > div.content-box > div.banner-slide  > div.box > ul > li {float: left; width: 345px; min-height: 640px; background-color: #fff; border-radius: 10px; box-sizing: border-box; margin-right: 60px;
  box-shadow: inset 0 2px 8px 0 rgb(216 218 235 / 60%);
}
#work > div.content-box > div.banner-slide  > div.box > ul > li:last-child {margin-right: 0;}
#work > div.content-box > div.banner-slide  > div.box > ul > li {}
#work > div.content-box > div.banner-slide  > div.box > ul > li > div.image-big {height: 240px; width: 100%;  overflow: hidden; border-top-left-radius: 10px; border-top-right-radius: 10px; position: relative; border-bottom: 1px solid rgb(216 218 235 / 60%);}
#work > div.content-box > div.banner-slide  > div.box > ul > li > div.image-big > a {display: block;  width: 100%; height: 100%;}
#work > div.content-box > div.banner-slide  > div.box > ul > li > div.image-big > a > img {width: 100%; transition: all 0.5s;}
#work > div.content-box > div.banner-slide  > div.box > ul > li:nth-child(2) > div.image-big > a > img {height: 100%;}
#work > div.content-box > div.banner-slide  > div.box > ul > li > div.image-big > a:hover > img {transform: scale(1.1);}
#work div.content-box > div.banner-slide  > div.box > ul > li > div.text { padding: 20px; box-sizing: border-box; width: 100%;}
#work div.content-box > div.banner-slide  > div.box > ul > li > div.text > p.title {font-size: 23px; font-weight: 900; color: rgba(30, 75, 115, 1);}
#work div.content-box > div.banner-slide  > div.box > ul > li > div.text > ul > li + li {margin-top: 5px;}
#work > div.content-box > div.banner-slide  ul > li > div.text > ul > li:first-child {margin: 6px 0 12px; font-weight: 900; font-size: 18px; }
#work div.content-box > div.banner-slide  > div.box > ul > li > div.text > ul > li:first-child > span {display: inline;}
#work div.content-box > div.banner-slide  > div.box > ul > li > div.text > ul > li > span  {display: block; line-height: 2;}
#work div.content-box > div.banner-slide  > div.box > ul > li > div.text > ul > li > span.sub-c {font-size: 12px;}
#work div.content-box > div.banner-slide  > div.box > ul > li > div.text > ul > li > span.sub-t {font-size: 14px; font-weight: 900;}
#work div.content-box > div.banner-slide  > div.box > ul > li > div.text > ul > li:nth-child(4) > span.sub-c { min-height: 60px;}
#work div.content-box > div.banner-slide  > div.box > ul > li > div.text > ul > li:nth-child(5) {margin-top: 10px; overflow: hidden;}

/* control: prev, next */
#work p.control {margin-top: 20px;}
#work p.control::after {content: ''; display: block; clear: both;}
#work p.control > a {display: block; padding: 10px 20px; width: 80px; text-align: center; box-shadow: inset 0 2px 8px 0 rgb(216 218 235 / 60%); width: 80px; box-sizing: border-box; border-radius: 10px;  transition: all 0.5s;}
#work p.control > a:hover {background: rgb(216 218 235 / 60%);}
#work p.control > a.prev {float: left;}
#work p.control > a.next{float: right; margin-left: 20px;}


/* 버튼 크기 */
#work > div.content-box > div.banner-slide  > div.box > ul > li a.btn { width: 140px;}
#work > div.content-box > div.banner-slide  > div.box > ul > li a:nth-child(1) {float: left;}
ul > li a:nth-child(2) {float: right;}

/* animation 작동 */
#work > div.content-box > .text-title > div,
#work > div.content-box  div.box > ul > li,
#work > div.content-box p.control {position: relative; animation: mainTextHide 1s ease 0s 1 normal forwards; opacity: 0;} 

#work.on > div.content-box > .text-title > div {animation: mainText 1s ease 0s 1 normal forwards;}
#work.on > div.content-box  div.box > ul > li,
#work.on > div.content-box p.control {animation: mainText 1s ease 0.5s 1 normal forwards;}


/* section4: contact */
#contact {padding: 80px 0 100px; position: relative; box-sizing: border-box; background-color: #fff; height: auto;}
#contact > div.content-box {overflow: hidden;}
#contact > div.content-box > h2 {margin-bottom: 15px; font-size: 45px; font-weight: 900; color: rgba(30, 75, 115, 1); margin-bottom: 50px;}
#contact > div.content-box > div.button {float: left; width: calc(50% - 10px); height: 200px;background-color: rgba(0,0,0,0.8); color:  #fff; text-align: center; position: relative; margin-bottom: 20px; border: 1px solid #333;}
#contact > div.content-box > div.button:nth-child(2n-1) {float: right;}
#contact > div.content-box > div.button > div {position: absolute; top: 50%; transform: translate(-50%, -50%); left: 50%;}
#contact > div.content-box > div.button  p { font-size: 20px;  font-weight: 600; margin-bottom: 20px;}
#contact > div.content-box > div.button  p.sub {font-size: 13px; font-weight: 400;}
#contact > div.content-box > div.button  a.btn.blue {border-radius: 0;}

#contact > div.content-box > h2,
#contact > div.content-box > div.button {animation: mainTextHide 1s ease 0s 1 normal forwards; opacity: 0; position: relative;}


#contact.on > div.content-box > h2 {animation: mainText 1s ease 0s 1 normal forwards;}
#contact.on > div.content-box > div.button {animation: mainText 1s ease 0.4s 1 normal forwards;}

/* media-query */
@media (min-width: 375px) {
   #work > div.content-box > div.banner-slide  > div.box > ul > li {
    width: 335px;
  }
}

@media (min-width: 393px) {
   #work > div.content-box > div.banner-slide  > div.box > ul > li {
    width: 353px;
  }
}

@media (min-width: 412px) {
   #work > div.content-box > div.banner-slide  > div.box > ul > li {
    width: 375px;
  }
}

@media (min-width: 820px) {
   #work > div.content-box > div.banner-slide  > div.box > ul > li {
    width: 359px;
   }

}